<html>
    <head>
        <title>{{ page_title }}</title>
        {{ content_for_header }}
        {{ 'tailwind.output.css' | asset_url | stylesheet_tag }}
        {% style %}
          {{ settings.heading_font | font_face: font_display: 'swap' }}
          {{ settings.body_font | font_face: font_display: 'swap' }}
          :root{
            --font-heading--family: {{ settings.heading_font }},{{ settings.heading_font.fallback_families }};
            --font-body--family: {{ settings.body_font }},{{ settings.body_font.fallback_families }};
          }
        {% endstyle %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      <div class="min-h-screen w-full flex flex-col items-center justify-between">
        <div class="w-full">
          {% sections 'header-group' %}
          {{ content_for_layout }}
        </div>
        <div class="w-full" style="background-color: {{ settings.footer_bgcolor }}">
          {% sections 'footer-group' %}
        </div>
      </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" defer></script>
</html>
