{{ 'base.css' | asset_url | stylesheet_tag }}
{% assign form_id = 'CustomContactForm' %}

<section class="w-full mx-auto px-4">
    <div id="margin-container" style="margin-top: {{ section.settings.margin_top }}; margin-bottom: {{ section.settings.margin_bottom }}">
        {% if section.settings.heading != blank %}
            {% render 'section-title',
                title: section.settings.heading,
            %}
        {% endif %}
    
        {% form 'contact', id: form_id %}
            {% if form.posted_successfully? %}
                <p class="text-green-600 mb-4">Thanks for reaching out! We'll get back to you soon.</p>
            {% elsif form.errors %}
                <ul class="text-red-600 mb-4">
                    {% for field in form.errors %}
                        <li><strong>{{ form.errors.translated_fields[field] }}</strong> - {{ form.errors.messages[field] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    
            <div id="contact-container" class="flex flex-col justify-center items-center w-full lg:w-[1024px] mx-auto">
                <div class="flex flex-col lg:flex-row items-center justify-center w-full lg:w-3/4 mx-auto gap-x-4 gap-y-2">
                    <div class="mb-2 lg:mb-4 w-full">
                        <label for="ContactForm-name" class="block font-medium" style="color:{{section.settings.label_color}};">Name</label>
                        <input type="text" id="ContactForm-name" name="contact[name]" class="w-full border-1 border-slate-400 p-2" placeholder="Name" required>
                    </div>
            
                    <div class="mb-4 w-full">
                        <label for="ContactForm-email" class="block font-medium" style="color:{{section.settings.label_color}};">Email</label>
                        <input type="email" id="ContactForm-email" name="contact[email]" class="w-full border-1 border-slate-400 p-2" placeholder="Email Address" required>
                    </div>
                </div>
        
                <div class="mb-4 w-full lg:w-3/4">
                    <label for="ContactForm-phone" class="block font-medium" style="color:{{section.settings.label_color}};">Phone Number</label>
                    <input type="tel" id="ContactForm-phone" name="contact[phone]" class="w-full border-1 border-slate-400 p-2" placeholder="Phone Number">
                </div>
        
                <div class="mb-4 w-full lg:w-3/4">
                    <label for="ContactForm-body" class="block font-medium" style="color:{{section.settings.label_color}};">Message</label>
                    <textarea id="ContactForm-body" name="contact[body]" rows="4" class="w-full border-1 border-slate-400 p-2" required  placeholder="Your message here"></textarea>
                </div>
                
                <div id="button-container" class="w-full lg:w-3/4 flex flex-row items-center"
                    style="justify-content: {{ section.settings.button_position }}">

                    {% assign bg_opacity = section.settings.background_opacity | divided_by: 100.0 %}

                    <button type="submit" class="group transition-all duration-300 hover:opacity-80 px-6 py-2 cursor-pointer"
                    style="border: {% if section.settings.has_border %} solid {% else %} none {% endif %} 1px;
                        border-color: {{ section.settings.button_border_color }};
                        color: {{ section.settings.button_text_color }};
                        background-color: {{ section.settings.button_bgcolor | color_modify: 'alpha', bg_opacity }};"
                    >
                        <span class="button-span inline-block transform transition-all duration-150">
                            {{ section.settings.submit_text}}
                        </span>
                    </button>
                </div>
            </div>
        {% endform %}
    </div>
</section>


{% schema %}
{
    "name": "Contact Form",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Contact Us for Questions"
        },
        {
            "type": "color",
            "id": "label_color",
            "label": "Label Color",
            "default": "#10509a"
        },
        {
            "type": "text",
            "id": "submit_text",
            "label": "Sumbit Button text",
            "default": "Send Message"
        },
        {
            "type": "select",
            "id": "button_position",
            "label": "Button Position",
            "default": "start",
            "options": [
                {
                    "label": "Left",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "end"
                }
            ]
        },
        {
            "type":"color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#001001"
        },
        {
            "type": "range",
            "id": "background_opacity",
            "label": "Background Opacity",
            "default": 100,
            "min": 0,
            "max": 100,
            "step": 1
        },
        {
            "type":"color",
            "id": "button_bgcolor",
            "label": "Button BG Color",
            "default": "#c9c9c9"
        },
        {
            "type":"checkbox",
            "id": "has_border",
            "label": "Button Border",
            "default": true
        },
        {
            "type":"color",
            "id": "button_border_color",
            "label": "Button Border Color",
            "default": "#c9c9c9"
        },
        {
            "type":"header",
            "content": "Margin Settings"
        },
        {
            "type":"range",
            "id": "margin_top",
            "label":"Top Margin",
            "max": 100,
            "min": 0,
            "step": 1,
            "default": 16
        },
        {
            "type":"range",
            "id": "margin_bottom",
            "label":"Bottom Margin",
            "max": 100,
            "min": 0,
            "step": 1,
            "default": 16
        }
    ],
    "presets": [
        {
            "name": "Contact Form",
            "category": "General"
        }
    ]
}
{% endschema %}