{{ 'base.css' | asset_url | stylesheet_tag }}
{% assign collection = collections[section.settings.featured_collection] %}

{% assign cont_width = '' %}
{% assign column_width = '' %}
{% case section.settings.section_width %}
  {% when 'large' %}
    {% assign cont_width = '1024px' %}
    {% assign column_width = 'calc(1024px / ' | append: section.settings.columns | append: ')' %}
  {% when 'medium' %}
    {% assign cont_width = '768px' %}
    {% assign column_width = 'calc(768px / ' | append: section.settings.columns | append: ')' %}
  {% when 'small' %}
    {% assign cont_width = '640px' %}
    {% assign column_width = 'calc(640px / ' | append: section.settings.columns | append: ')' %}
  {% else %}
    {% assign column_width = 'calc(100% / ' | append: section.settings.columns | append: ')' %}
    {% assign cont_width = '100%' %}
{% endcase %}

<section id="featured-collection">
    <div id="section-container" class="w-full p-4" style="margin-top:{{ section.settings.margin_top }}; margin-bottom: {{ section.settings.margin_bottom }}">
        {%  if section.settings.title != blank %}
            {% render 'section-title',
                title: section.settings.title
            %}
        {% endif %}
        {% if section.settings.show_collection %}
            <div id="collection-name" class="w-full text-xl" style="text-align: {{ section.settings.collection_title_pos }};">
                {{  collection.title }}
            </div>
        {% endif %}

        {% comment %} Desktop Product List {% endcomment %}
        <div id="collection-container" class="hidden py-8 lg:flex flex-wrap items-start justify-center mx-auto" style="width:{{ cont_width }};background-color: {{ section.settings.section_bgcolor }}">
            {% for product in collection.products limit: section.settings.products_limit %}
                <div id="card-container" class="p-4 bg-none hover:bg-blue-50 duration-300 ease-in-out" style="width:{{ column_width }};">
                    <a id="product-card" href="{{ product.url }}" class="bg-slate-400">
                        {% if product.featured_image %}
                            <div class="product-image-wrapper relative overflow-hidden">
                                <img
                                    src="{{ product.featured_image | image_url: width: 640, height: 640 }}"
                                    alt="{{ product.title }}"
                                    width="100%"
                                    height="100%"
                                    class="object-cover block transition-opacity duration-300 ease-in-out first-image"
                                >
                                {% if product.images.size > 1 %}
                                <img
                                    src="{{ product.images[1] | image_url: width: 640, height: 640 }}"
                                    alt="{{ product.title }} alt view"
                                    width="100%"
                                    height="100%"
                                    class="object-cover block absolute top-0 left-0 opacity-0 hover-image transition-opacity duration-300 ease-in-out"
                                >
                                {% endif %}
                            </div>
                        {% endif %}
                        <div id="product-details" class="mt-2">
                            <div id="product-title" style="color:{{ section.settings.product_text_color }};">{{ product.title }}</div>
                            {% if section.settings.show_product_price %}
                                <div id="price-container" class="flex justify-center">
                                    {% if section.settings.bold_price %}
                                        <strong style="color:{{ section.settings.price_color }};" id="product-price">{{ product.price | money }}</strong>
                                    {% else %}
                                        <span style="color:{{ section.settings.price_color }};" id="product-price">{{ product.price | money }}</span>
                                    {% endif %}
                                    <span class="line-through text-sm opacity-70" style="color:{{ section.settings.compare_price_color }};" id="product-price">{{ product.compare_at_price | money }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        
        {% comment %} Mobile Product List {% endcomment %}
        <div id="collection-container" class="py-8 flex lg:hidden flex-col items-center justify-center mx-auto w-full" style="background-color: {{ section.settings.section_bgcolor }}">
            {% for product in collection.products limit: section.settings.products_limit %}
                <div id="card-container" class="p-4 mb-4 bg-none hover:bg-blue-50 duration-300 ease-in-out w-full">
                    <a id="product-card" href="{{ product.url }}" class="bg-slate-400">
                        {% if product.featured_image %}
                            <div class="product-image-wrapper relative overflow-hidden">
                                <img
                                    src="{{ product.featured_image | image_url: width: 640, height: 640 }}"
                                    alt="{{ product.title }}"
                                    width="100%"
                                    height="100%"
                                    class="object-cover block transition-opacity duration-300 ease-in-out first-image"
                                >
                                {% if product.images.size > 1 %}
                                <img
                                    src="{{ product.images[1] | image_url: width: 640, height: 640 }}"
                                    alt="{{ product.title }} alt view"
                                    width="100%"
                                    height="100%"
                                    class="object-cover block absolute top-0 left-0 opacity-0 hover-image transition-opacity duration-300 ease-in-out"
                                >
                                {% endif %}
                            </div>
                        {% endif %}
                        <div id="product-details" class="flex flex-col items-center">
                            <div id="product-title" style="color:{{ section.settings.product_text_color }};">{{ product.title }}</div>
                            {% if section.settings.show_product_price %}
                                <div id="price-container">
                                    {% if section.settings.bold_price %}
                                        <strong style="color:{{ section.settings.price_color }};" id="product-price">{{ product.price | money }}</strong>
                                    {% else %}
                                        <span style="color:{{ section.settings.price_color }};" id="product-price">{{ product.price | money }}</span>
                                    {% endif %}
                                    <span class="line-through text-sm opacity-70" style="color:{{ section.settings.compare_price_color }};" id="product-price">{{ product.compare_at_price | money }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        {% if section.settings.button_text != blank%}
            {% assign bg_opacity = section.settings.background_opacity | divided_by: 100.0 %}
            <div id="column-btn" class="py-4 flex justify-center w-full text-center">   
                <a href="{{ section.settings.button_link }}"
                    class="group py-2 px-8 inline-block transition-all duration-300 hover:opacity-80"
                    style="border: {% if section.settings.has_border %} solid {% else %} none {% endif %} 1px;
                        border-color: {{ section.settings.button_border_color }};
                        color: {{ section.settings.button_text_color }};
                        background-color: {{ section.settings.button_bgcolor | color_modify: 'alpha', bg_opacity }};"
                >
                    <span class="button-span inline-block transform transition-all duration-150">
                        {{ section.settings.button_text }}
                    </span>
                </a>
            </div>
        {% endif %}
    </div>
</section>

<style>
    /* Trigger image swap on container hover */
    #card-container:hover .hover-image {
        opacity: 1;
    }

    #card-container:hover .first-image {
        opacity: 0;
    }
</style>


{% schema %}
{
    "name": "Featured Collection",
    "settings": [
        {
            "type":"text",
            "id": "title",
            "label": "Title",
            "default": "Featured Collection"
        },
        {
            "type":"header",
            "content":"Collection Settings"
        },
        {
            "type":"checkbox",
            "id":"show_collection",
            "label": "Show Collection",
            "default": true
        },
        {
            "type":"select",
            "id": "collection_title_pos",
            "label": "Title Position",
            "default":"left",
            "options": [
                {
                    "label":"Left",
                    "value":"left"
                },
                {
                    "label":"Center",
                    "value":"center"
                },
                {
                    "label":"Right",
                    "value":"right"
                }
            ]
        },
        {
            "type": "collection",
            "id": "featured_collection",
            "label": "Select Collection"
        },
        {
            "type":"range",
            "id": "columns",
            "label": "Number of Columns",
            "default": 4,
            "min": 1,
            "max": 12,
            "step": 1
        },
        {
            "type":"select",
            "id": "section_width",
            "label": "Section Width",
            "default": "large",
            "options": [
                {
                    "value": "full",
                    "label": "Full Width"
                },
                {
                    "value": "large",
                    "label": "Large (1024px)"
                },
                {
                    "value": "medium",
                    "label": "Medium (768px)"
                },
                {
                    "value": "small",
                    "label": "Small (640px)"
                }
            ]
        },
        {
            "type": "select",
            "id": "column_postition",
            "label": "Column Position",
            "default": "center",
            "info": "Aligns the content cards within the section.",
            "options": [
                {
                    "value": "start",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "end",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "select",
            "id": "content_alignment",
            "label": "Content Alignment",
            "default": "start",
            "info": "Aligns the contents inside the cards.",
            "options": [
                {
                    "value": "start",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "end",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "number",
            "id": "products_limit",
            "label": "Number of Products to Show",
            "default": 4
        },
        {
            "type": "color",
            "id": "section_bgcolor",
            "label": "Background Color",
            "default": "#ffffff"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Button Text"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        },
        {
            "type":"color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#001001"
        },
        {
            "type": "range",
            "id": "background_opacity",
            "label": "Background Opacity",
            "default": 100,
            "min": 0,
            "max": 100,
            "step": 1
        },
        {
            "type":"color",
            "id": "button_bgcolor",
            "label": "Button BG Color",
            "default": "#c9c9c9"
        },
        {
            "type":"checkbox",
            "id": "has_border",
            "label": "Button Border",
            "default": true
        },
        {
            "type":"color",
            "id": "button_border_color",
            "label": "Button Border Color",
            "default": "#c9c9c9"
        },
        {
            "type": "header",
            "content": "Product Settings"
        },
        {
            "type":"color",
            "id": "product_text_color",
            "label": "Name Color",
            "default": "#125bae"
        },
        {
            "type": "checkbox",
            "id": "show_product_price",
            "label": "Show Product Price",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "bold_price",
            "label": "Bold Price",
            "default": true
        },
        {
            "type":"color",
            "id":"price_color",
            "label": "Price Color"
        },
        {
            "type":"color",
            "id":"compare_price_color",
            "label": "Compare Price Color"
        },
        {
            "type":"header",
            "content": "Section Margin"
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Top Margin",
            "default": 16,
            "min": 0,
            "max": 100,
            "step": 1
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Bottom Margin",
            "default": 16,
            "min": 0,
            "max": 100,
            "step": 1
        }
    ],
    "presets": [
        {
            "name": "Featured Collection",
            "category": "General"
        }
    ]
}
{% endschema %}