{% assign text_justify = '' %}
{% case section.settings.content_position%}
    {% when 'left' %}
        {% assign text_justify = 'left' %}
    {% when 'center' %}
        {% assign text_justify = 'center' %}
    {% when 'right' %}
        {% assign text_justify = 'right' %}
{% endcase %}

{% assign cbgcolor = 'none' %}
{% if section.settings.has_container%}
    {% assign cbgcolor = section.settings.content-bgcolor %}
{% else %}
    {% assign cbgcolor = 'none' %}
{% endif %}

{% assign tsize = '1rem' %}
{% case section.settings.title_size %}
    {% when 'heading_1' %}
        {% assign tsize = '3rem' %}
    {% when 'heading_2' %}
        {% assign tsize = '2.25rem' %}
    {% when 'heading_3' %}
        {% assign tsize = '1.875rem' %}
    {% when 'heading_4' %}
        {% assign tsize = '3rem' %}
    {% else %}
        {% assign tsize = '1rem' %}
{% endcase %} 

{% assign tsize_mobile = '1rem' %}
{% case section.settings.title_size_mobile %}
    {% when 'heading_1' %}
        {% assign tsize_mobile = '3rem' %}
    {% when 'heading_2' %}
        {% assign tsize_mobile = '2.25rem' %}
    {% when 'heading_3' %}
        {% assign tsize_mobile = '1.875rem' %}
    {% when 'heading_4' %}
        {% assign tsize_mobile = '1.48rem' %}
    {% else %}
        {% assign tsize_mobile = '1rem' %}
{% endcase %} 

{% assign img_height = 0 %}
{% case section.settings.image_height %}
    {% when 'small' %}
        {% assign img_height = 480 %}
    {% when 'medium' %}
        {% assign img_height = 540 %}
    {% when 'large' %}
        {% assign img_height = 680 %}
{% endcase %} 

{% assign img_height_mobile = 0 %}
{% case section.settings.image_height_mobile %}
    {% when 'small' %}
        {% assign img_height_mobile = 480 %}
    {% when 'medium' %}
        {% assign img_height_mobile = 540 %}
    {% when 'large' %}
        {% assign img_height_mobile = 680 %}
{% endcase %} 



<section id="hero-banner" class="section" >
    <div id="margin-container" style="margin-top: {{ section.settings.top-margin }}; margin-bottom: {{ section.settings.bottom-margin }}">
        
        {% comment %} Desktop {% endcomment %}
        <div class="w-full p-4 hidden lg:flex"
            style="background-image: url({{ section.settings.background_image | image_url: width: 2048}});
                background-position: center;
                items-align: center;
                justify-content: center;
                height: {{ img_height }}"
            id="image-container"
        >
            {% assign bg_opacity = section.settings.background_opacity | divided_by: 100.0 %}
            <div class="max-w-[95%] lg:max-w-[60%] flex flex-col justify-center">
                <div class="p-4 flex flex-col justify-center" style="text-align: {{ text_justify }};
                    background-color: {{ cbgcolor | color_modify: 'alpha', bg_opacity }};
                    color: {{ section.settings.text_color }};">
                    {% if section.settings.title != blank%}
                        <div style="font-size: {{ tsize }}; color: {{ section.settings.title_color }}">
                            <strong>
                                {{ section.settings.title }}
                            </strong>
                        </div>
                    {% endif %}                    
                    {% if section.settings.subtitle != blank%}
                        <p>{{ section.settings.subtitle }}</p>
                    {% endif %}
                    {% if section.settings.button_text != blank%}

                        {% assign bg_opacity = section.settings.background_opacity | divided_by: 100.0 %}
                        <div id="column-btn" class="pt-4 flex gap-4 items-center w-full" style="justify-content: {{ section.settings.button_alignment }}">
                            <a class="w-full lg:w-auto group py-2 px-8 inline-block transition-all duration-300 hover:opacity-80"
                                href="{{ section.settings.button_link }}"
                                style="border: {% if section.settings.has_border %} solid {% else %} none {% endif %} 1px;
                                        border-color: {{ section.settings.button_border_color }};
                                        color: {{ section.settings.button_text_color }};
                                        background-color: {{ section.settings.button_bgcolor | color_modify: 'alpha', bg_opacity }};">
                                <span class="button-span inline-block transform transition-all duration-150 w-full lg:w-auto ">
                                    {{ section.settings.button_text }}
                                </span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% comment %} Mobile {% endcomment %}
        <div class="w-full p-4 flex lg:hidden"
            style="background-image: url({{ section.settings.background_image | image_url: width: 2048}});
                background-position: center;
                items-align: center;
                justify-content: center;
                height: {{ img_height_mobile }}"
            id="image-container-mobile"
        >
            {% assign bg_opacity = section.settings.background_opacity | divided_by: 100.0 %}
            <div class="max-w-[95%] lg:max-w-[60%] flex flex-col justify-center">
                <div class="p-4 flex flex-col justify-center" style="text-align: {{ text_justify }};
                    background-color: {{ cbgcolor | color_modify: 'alpha', bg_opacity }};
                    color: {{ section.settings.text_color }};">
                    {% if section.settings.title != blank%}
                        <div style="font-size: {{ tsize_mobile }}; color: {{ section.settings.title_color }}">
                            <strong>
                                {{ section.settings.title }}
                            </strong>
                        </div>
                    {% endif %}                    
                    {% if section.settings.subtitle != blank%}
                        <p>{{ section.settings.subtitle }}</p>
                    {% endif %}
                    {% if section.settings.button_text != blank%}

                        {% assign bg_opacity = section.settings.background_opacity | divided_by: 100.0 %}
                        <div id="column-btn" class="pt-4 flex gap-4 items-center w-full lg:w-auto text-center" style="justify-content: {{ section.settings.button_alignment }}">
                            <a class="w-full lg:w-auto group py-2 px-8 inline-block transition-all duration-300 hover:opacity-80"
                                href="{{ section.settings.button_link }}"
                                style="border: {% if section.settings.has_border %} solid {% else %} none {% endif %} 1px;
                                        border-color: {{ section.settings.button_border_color }};
                                        color: {{ section.settings.button_text_color }};
                                        background-color: {{ section.settings.button_bgcolor | color_modify: 'alpha', bg_opacity }};">
                                <span class="button-span inline-block transform transition-all duration-150 w-full lg:w-auto ">
                                    {{ section.settings.button_text }}
                                </span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        {% comment %} <div id="hero-content-control"
            class="p-8 flex flex-col w-full h-full"
            style="align-items: {{ content_align }}; justify-content: {{ content_justify }};
                    background:url({{ section.settings.background_image | image_url: height: 1600 }}) no-repeat center;
                    
                ">
            {% assign bg_opacity = section.settings.background_opacity | divided_by: 100.0 %}
            <div class="p-8" style="text-align: {{ text_justify }};
                background-color: {{ cbgcolor | color_modify: 'alpha', bg_opacity }};
                color: {{ section.settings.text_color }}">
                {% if section.settings.title != blank%}
                    <div style="font-size: {{ tsize }}">
                        <strong>
                            {{ section.settings.title }}
                        </strong>
                    </div>
                {% endif %}                    
                {% if section.settings.subtitle != blank%}
                    <p>{{ section.settings.subtitle }}</p>
                {% endif %}
                {% if section.settings.button_text != blank%}
                    <div id="column-btn" class="py-4">
                        <a href="{{ section.settings.button_link }}" id="content-button" class="px-6 py-2 border-1 border-slate-400">{{ section.settings.button_text }}</a>
                    </div>
                {% endif %}
            </div>
        </div> {% endcomment %}
    </div>
</section>


{% schema %}
{
    "name": "Hero Banner with Text",
    "settings": [
        {
            "type": "paragraph",
            "content": "This hero banner lets you create a banner with contents in it. If you need a clickable banner only with no content, please use Hero Banner instead."
        },
        {
            "type": "paragraph",
            "content": "This banner needs contents in order to work properly."
        },
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Welcome to Our Store"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#020202"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Subtitle Color",
            "default": "#020202"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Discover the latest trends and exclusive deals."
        },
        {
        "type": "select",
        "id": "image_height",
        "label": "Image Height",
        "default": "large",
        "options": [
                {
                "value": "small",
                "label": "Small"
                },
                {
                "value": "medium",
                "label": "Medium"
                },
                {
                "value": "large",
                "label": "Large"
                }
            ]
        },
        {
        "type": "select",
        "id": "image_height_mobile",
        "label": "Mobile Image Height",
        "default": "medium",
        "options": [
                {
                "value": "small",
                "label": "Small"
                },
                {
                "value": "medium",
                "label": "Medium"
                },
                {
                "value": "large",
                "label": "Large"
                },
            ]
        },
        {
            "type": "select",
            "id": "title_size",
            "label":"Title Size",
            "default": "heading_2",
            "options":[
                {
                    "label":"Heading 1",
                    "value": "heading_1"
                },
                {
                    "label":"Heading 2",
                    "value": "heading_2"
                },
                {
                    "label":"Heading 3",
                    "value": "heading_3"
                },
                {
                    "label":"Heading 4",
                    "value": "heading_4"
                },
                {
                    "label":"Paragraph",
                    "value": "paragraph"
                }
            ]
        },
        {
            "type": "select",
            "id": "title_size_mobile",
            "label":"Mobile Title Size",
            "default": "heading_4",
            "options":[
                {
                    "label":"Heading 1",
                    "value": "heading_1"
                },
                {
                    "label":"Heading 2",
                    "value": "heading_2"
                },
                {
                    "label":"Heading 3",
                    "value": "heading_3"
                },
                {
                    "label":"Heading 4",
                    "value": "heading_4"
                },
                {
                    "label":"Paragraph",
                    "value": "paragraph"
                }
            ]
        },
        {
            "type": "header",
            "content": "Button Settings"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Shop Now"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        },
        {
            "type":"color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#001001"
        },
        {
            "type":"color",
            "id": "button_bgcolor",
            "label": "Button BG Color",
            "default": "#c9c9c9"
        },
        {
            "type":"checkbox",
            "id": "has_border",
            "label": "Button Border",
            "default": true
        },
        {
            "type":"color",
            "id": "button_border_color",
            "label": "Button Border Color",
            "default": "#c9c9c9"
        },
        {
            "type":"select",
            "id": "button_alignment",
            "label": "Button Alignment",
            "default": "center",
            "options": [
                {
                    "value": "start",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "end",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "header",
            "content": "Content Settings"
        },
        {
            "type": "checkbox",
            "id": "has_container",
            "default": true,
            "label": "Use container for content"
        },
        {
            "type": "color",
            "id": "content-bgcolor",
            "default": "#ffffff",
            "label": "Content Background Color"
        },
        {
            "type": "range",
            "id": "background_opacity",
            "label": "Background Opacity",
            "default": 100,
            "min": 0,
            "max": 100,
            "step": 1
        },
        {
            "type": "select",
            "id":"content_position",
            "label": "Content Position",
            "default":"left",
            "info": "Controls the position of your content like title, subtitle and button",
            "options": [
                {
                    "label": "Left",
                    "value": "left"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "right"
                }
            ]
        },
        {
            "type":"header",
            "content": "Margin Settings"
        },
        {
            "type": "range",
            "id": "top-margin",
            "label": "Top Margin",
            "default": 0,
            "min": 0,
            "max": 100,
            "step": 1
        },
        {
            "type": "range",
            "id": "bottom-margin",
            "label": "Bottom Margin",
            "default": 0,
            "min": 0,
            "max": 100,
            "step": 1
        }
    ],
    "presets": [
        {
            "name": "Hero Banner with Text",
            "category": "General"
        }
    ]
}
{% endschema %}