{% assign image_height = '' %}
{% assign image_width = 1920 %}
{% case section.settings.image_height %}
  {% when 'large' %}
    {% assign image_height = 540 %}
  {% when 'medium' %}
    {% assign image_height = 360 %}
  {% when 'small' %}
    {% assign image_height = 240 %}
  {% else %}
    {% assign image_height = 'auto' %}
{% endcase %}

{% assign cont_width = '' %}
{% case section.settings.section_width %}
  {% when 'large' %}
    {% assign cont_width = '1024px' %}
  {% when 'medium' %}
    {% assign cont_width = '768px' %}
  {% when 'small' %}
    {% assign cont_width = '640px' %}
  {% else %}
    {% assign cont_width = '100%' %}
{% endcase %}


<section id="hero-banner" class="relative {% if section.settings.section_fadein %} section {% endif %}">
    <div id="margin-container" class="mx-auto" style="margin-top: {{ section.settings.top-margin }}; margin-bottom: {{ section.settings.bottom-margin }}; max-width: {{ cont_width }};">
        {% if section.settings.image_link != blank %}
            <a href="{{ section.settings.image_link }}">
                <img
                    src="{{ section.settings.background_image | image_url: height: image_width }}"
                    alt="Hero Banner Background"
                    class="object-cover  {% if image_height != 'auto' %}block{% endif %}"
                    width="100%"
                    height="{{ image_height }}"
                    {% if image_height != 'auto' %}
                        style="max-height: {{ image_height }}px;"
                    {% else %}
                        style="height: auto;"
                    {% endif %}
                >
            </a>
        {% else %}
            <img
                src="{{ section.settings.background_image | image_url: height: image_width }}"
                alt="Hero Banner Background"
                class="object-cover  {% if image_height != 'auto' %}block{% endif %}"
                width="100%"
                height="{{ image_height }}"
                {% if image_height != 'auto' %}
                    style="max-height: {{ image_height }}px;"
                {% else %}
                    style="height: auto;"
                {% endif %}
            >
        {% endif %}
    </div>
</section>


{% schema %}
{
    "name": "Hero Banner",
    "settings": [
        {
            "type": "paragraph",
            "content": "This section only allows you to add a clickable banner image only. If you need a banner with contents, you can use the Hero Banner with Text template."
        },
        {
            "type":"checkbox",
            "id": "section_fadein",
            "label":"Fade in section?",
            "default": true
        },
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
        },
        {
            "type": "url",
            "id": "image_link",
            "label": "Button Link"
        },
        {
            "type":"select",
            "id": "section_width",
            "label": "Section Width",
            "default": "full",
            "options": [
                {
                    "value": "full",
                    "label": "Full Width"
                },
                {
                    "value": "large",
                    "label": "Large (1024px)"
                },
                {
                    "value": "medium",
                    "label": "Medium (768px)"
                },
                {
                    "value": "small",
                    "label": "Small (640px)"
                }
            ]
        },
        {
        "type": "select",
        "id": "image_height",
        "label": "Image Height",
        "default": "large",
        "options": [
            {
            "value": "auto",
            "label": "Adapt to image height"
            },
            {
            "value": "large",
            "label": "Large"
            },
            {
            "value": "medium",
            "label": "Medium"
            },
            {
            "value": "small",
            "label": "Small"
            }]
        },
        {
            "type":"header",
            "content": "Margin Settings"
        },
        {
            "type": "range",
            "id": "top-margin",
            "label": "Top Margin",
            "default": 0,
            "min": 0,
            "max": 100,
            "step": 1
        },
        {
            "type": "range",
            "id": "bottom-margin",
            "label": "Bottom Margin",
            "default": 0,
            "min": 0,
            "max": 100,
            "step": 1
        }
    ],
    "presets": [
        {
            "name": "Hero Banner",
            "category": "General"
        }
    ]
}
{% endschema %}