{% assign cont_width = '' %}
{% assign column_width = '' %}
{% case section.settings.section_width %}
  {% when 'large' %}
    {% assign cont_width = '1024px' %}
    {% assign column_width = 'calc(1024px / ' | append: section.settings.columns | append: ')' %}
  {% when 'medium' %}
    {% assign cont_width = '768px' %}
    {% assign column_width = 'calc(768px / ' | append: section.settings.columns | append: ')' %}
  {% when 'small' %}
    {% assign cont_width = '640px' %}
    {% assign column_width = 'calc(640px / ' | append: section.settings.columns | append: ')' %}
  {% else %}
    {% assign column_width = 'calc(100% / ' | append: section.settings.columns | append: ')' %}
    {% assign cont_width = '100%' %}
{% endcase %}

{% assign content_align = 'left'%}
{% case section.settings.content_alignment %}
  {% when 'center' %}
    {% assign content_align = 'center' %}
  {% when 'end' %}
    {% assign content_align = 'right' %}
  {% else %}
    {% assign content_align = 'left' %}
{% endcase %}




<section id="multicolumn">
    <div id="section-container" style="margin-top: {{ section.settings.margin_top | append:'px' }}; margin-bottom: {{ section.settings.margin_bottom | append: 'px'}};">
        {% if section.settings.title != blank %}
            <h1 id="section-title" class="text-2xl">{{ section.settings.title }}</h1>
        {% endif %}
        <div class="flex flex-wrap flex-row mx-auto" style="width:{{ cont_width }}; justify-content: {{ section.settings.column_postition}};  align-items: {{ section.settings.column_alignment  }};">
            {% for block in section.blocks %}
                
                {% assign img_height = '' %}
                {% case block.settings.image_height %}
                {% when 'large' %}
                    {% assign img_height = '540px' %}
                {% when 'medium' %}
                    {% assign img_height = '360px' %}
                {% when 'small' %}
                    {% assign img_height = '240px' %}
                {% else %}
                    {% assign img_height = 'auto' %}
                {% endcase %}
                <div class="p-4" style="width: {{ column_width }};">
                    <div class="p-4" style="background-color: {{ section.settings.column_bgcolor  }};">
                        <div id="image-container" class="overflow-hidden bg-red-300" style="height: {{ img_height }}; width: 100%;">
                            <img src="{{ block.settings.column_image | image_url: width: 300 }}"
                                alt="{{ block.settings.column_title }}"
                                class="w-full h-full object-cover"
                                width="300"
                                height="{{ img_height }}"
                                {% if img_height != 'auto' %}
                                    style="max-height: {{ img_height }}px;"
                                {% else %}
                                    style="height: auto;"
                                {% endif %}
                            />
                        </div>
                        <div id="column-content" class="flex flex-col justify-center" style="align-items:{{ section.settings.content_alignment }};">
                            {% if block.settings.column_title != blank %}
                                <div id="column-title">
                                    <h2 class="text-2xl mt-4 mb-2">
                                        {{ block.settings.column_title }}
                                    </h2>
                                </div>
                            {% endif %}
                            
                            {% if block.settings.column_content != blank %}
                                <div id="column-content" class="opacity-70" style="text-align: {{ content_align }};">
                                    {{ block.settings.column_content }}
                                </div>
                            {% endif %}
    
                            {% if block.settings.column_button_text != blank %}
                                <div id="column-btn" class="py-4 flex gap-4 items-center justify-start">
                                    {% render 'button', 
                                        btn_text: block.settings.column_button_text,
                                        btn_link: block.settings.column_button_link,
                                        btn_class: 'py-2 px-8 border-1 border-slate-800',
                                        btn_style: '',
                                        btn_target: '_self',
                                        btn_attrs: ''
                                    %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


{%  schema %}
{
    "name": "Multicolumn",
    "settings": [
        {
            "type":"text",
            "id": "title",
            "label": "Title",
            "default": "Multicolumn Section"
        },
        {
            "type":"select",
            "id": "section_width",
            "label": "Section Width",
            "default": "large",
            "options": [
                {
                    "value": "full",
                    "label": "Full Width"
                },
                {
                    "value": "large",
                    "label": "Large (1024px)"
                },
                {
                    "value": "medium",
                    "label": "Medium (768px)"
                },
                {
                    "value": "small",
                    "label": "Small (640px)"
                }
            ]
        },
        {
            "type": "select",
            "id": "column_alignment",
            "label": "Column Alignment",
            "default": "center",
            "info": "Aligns the content cards within each column horizontally.",
            "options": [
                {
                    "value": "start",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "end",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "select",
            "id": "column_postition",
            "label": "Column Position",
            "default": "center",
            "info": "Aligns the content cards within the section.",
            "options": [
                {
                    "value": "start",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "end",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "select",
            "id": "content_alignment",
            "label": "Content Alignment",
            "default": "start",
            "info": "Aligns the contents inside the cards.",
            "options": [
                {
                    "value": "start",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "end",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "range",
            "id": "columns",
            "label": "Number of Columns",
            "default": 3,
            "min": 1,
            "max": 6,
            "step": 1
        },
        {
            "type": "color",
            "id": "column_bgcolor",
            "label": "Column Background Color",
            "default": "#91a1ba"
        },
        {
            "type":"header",
            "content": "Section Margin"
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Top Margin",
            "default": 16,
            "min": 0,
            "max": 100,
            "step": 1
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Bottom Margin",
            "default": 16,
            "min": 0,
            "max": 100,
            "step": 1
        }
    ],
    "blocks": [
        {
            "type": "column",
            "name": "Column",
            "settings": [
                {
                    "type":"image_picker",
                    "id": "column_image",
                    "label": "Column Image"
                },
                {
                "type": "select",
                "id": "image_height",
                "label": "Image Height",
                "default": "medium",
                "options": [
                    {
                    "value": "auto",
                    "label": "Adapt to image height"
                    },
                    {
                    "value": "large",
                    "label": "Large"
                    },
                    {
                    "value": "medium",
                    "label": "Medium"
                    },
                    {
                    "value": "small",
                    "label": "Small"
                    }]
                },
                {
                    "type": "header",
                    "content": "Column Details"
                },
                {
                    "type": "text",
                    "id": "column_title",
                    "label": "Column Title"
                },
                {
                    "type": "richtext",
                    "id": "column_content",
                    "label": "Column Content",
                    "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>"
                },
                {
                    "type": "text",
                    "id": "column_button_text",
                    "label": "Column Button Text"
                },
                {
                    "type": "url",
                    "id": "column_button_link",
                    "label": "Column Button Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Multicolumn",
            "category": "General"
        }
    ]   
}
{%  endschema %}