{{ 'product-content.css' | asset_url |stylesheet_tag }}
{{ 'base.css' | asset_url | stylesheet_tag }}

{% assign specs = product.metafields.custom.specifications | split: '|' %}
{% assign whybuy = product.metafields.custom.why_shop_with_us | split: '|' %}
{% assign care_ints = product.metafields.custom.care_instructions | split: '|' %}


<script src="{{ 'product-content.js' | asset_url }}" defer="defer"></script>

<section id="product-content" class="relative">
    <div class="w-full absolute -z-[5]">
        <img src="{{ section.settings.bgimage | image_url: width: 2048 }}" width="100%" height="auto">
    </div>
    <div id="margin-container"
        class="w-full"
        style="margin-top: {{ section.settings.margin-top }};
        margin-bottom: {{ section.settings.margin-bottom }};
        {% if section.settings.is_bgimage == false%}
            background-color: {{ section.settings.bgcolor }};
        {% endif %}
        ">
        <div class="p-4" >
            {% if section.settings.section_title != blank %}
                {{ section.settings.section_title }}   
            {% endif %}
            <div id="product-item" class="flex flex-col lg:flex-row justify-center">
                <div class="images-container shrink max-w-[600] p-2 bg-white mx-auto">
                    <img id="image-box" src="{{ product.featured_image | image_url: width: 600 }}" width="600" height="600"/>
                    
                    <div class="flex gap-2 overflow-x-scroll mt-4">
                        {% for image in product.images %}
                            {% comment %} <p>{{ image }} - {{ forloop.index | minus: 1 }}</p> {% endcomment %}
                            <img class="cursor-pointer" onclick="showImage('{{ image | image_url: width: 600}}')" src="{{ image | image_url: width:150}}" alt="{{ image | escape}}" width="150" height="150"/>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="product-details w-full lg:w-1/2 ml-auto lg:ml-4 p-4 lg:min-w-[500px]" style="background-color: {{ section.settings.description_bgcolor }};">
                    <div class="text-4xl mb-4" style="color: {{ section.settings.product_name_color }}">{{ product.title }}</div>
                    {% if product.price != blank %}
                        <div id="price-container"><strong class="text-xl" style="color:{{ section.settings.price_color }} ;">{{ product.price | money }}</strong> <span class="line-through" style="color:{{ section.settings.compare_price_color }};">{{ product.compare_at_price | money }}</span></div>
                    {% else %}
                        <div id="price-container"><strong class="text-xl"  style="color:{{ section.settings.price_color }};">{{ product.compare_at_price | money }}</strong></div>
                    {% endif %}

                    <div id="button-container" class="w-full flex gap-2 mt-4">

                        {% assign bg_opacity = section.settings.background_opacity | divided_by: 100.0 %}

                        {% if section.settings.button1_text != blank %}
                            <div id="column-btn" class="flex gap-4 items-center justify-start">
                                <a class="group py-2 px-8 inline-block transition-all duration-300 hover:opacity-80"
                                    href="{{ section.settings.button1_link }}"
                                    onclick="window.open({{ section.settings.button1_link }}); return false;"
                                    style="border: {% if section.settings.has_border %} solid {% else %} none {% endif %} 1px;
                                            border-color: {{ section.settings.button1_border_color }};
                                            color: {{ section.settings.button1_text_color }};
                                            background-color: {{ section.settings.button1_bgcolor | color_modify: 'alpha', bg_opacity }};">
                                    <div class="button-span flex flex-row items-center gap-x-2 transform transition-all duration-150">
                                        <div class="w-4 h-4 bg-no-repeat" style="background-image: url({{ section.settings.button1_img | image_url: width: 16 }});"></div>
                                        <div>{{ section.settings.button1_text }}</div>
                                    </div>
                                </a>

                            </div>
                        {% endif %}
                        
                        {% if section.settings.button2_text != blank %}
                            <div id="column-btn" class="flex gap-4 items-center justify-start">
                                <a class="group py-2 px-8 inline-block transition-all duration-300 hover:opacity-80"
                                    href="{{ section.settings.button2_link }}"
                                    onclick="window.open({{ section.settings.button2_link }}); return false;"
                                    style="border: {% if section.settings.has_border %} solid {% else %} none {% endif %} 1px;
                                            border-color: {{ section.settings.button2_border_color }};
                                            color: {{ section.settings.button2_text_color }};
                                            background-color: {{ section.settings.button2_bgcolor | color_modify: 'alpha', bg_opacity }};">
                                    <div class="button-span flex flex-row items-center gap-x-2 transform transition-all duration-150">
                                        <div class="w-4 h-4 bg-no-repeat" style="background-image: url({{ section.settings.button2_img | image_url: width: 16 }});"></div>
                                        <div>{{ section.settings.button2_text }}</div>
                                    </div>
                                </a>

                            </div>
                        {% endif %}
                    </div>

                    <div id="product_description" class="my-4">
                        {{ product.description | default: "No description available." }}
                    </div>
                    <div id="accordion-container" class="my-2">                        
                        <div class="w-full mb-2 accordion">
                            <div class="accordion-title flex justify-between p-4" style="background-color: {{ section.settings.accordion_color }}">
                                <div class="">How to Use</div>
                                <strong class="accordion-plus">+</strong>
                            </div>
                            <div class="accordion-content" style="background-color: {{ section.settings.accordion_content_color }}">
                                {{ product.metafields.custom.how_to_use | default: "No how to use information available." }}
                            </div>
                        </div>
                        
                        <div class="w-full mb-2 accordion">
                            <div class="accordion-title flex justify-between p-4" style="background-color: {{ section.settings.accordion_color }}">
                                <div>Care Instructions</div>
                                <strong class="accordion-plus">+</strong>
                            </div>
                            <div class="accordion-content" style="background-color: {{ section.settings.accordion_content_color }}">
                                {% for item in care_ints %}
                                    <p>{{ item }}</p>
                                {% endfor %}
                            </div>
                        </div>
    
                        <div class="w-full mb-2 accordion">
                            <div class="accordion-title flex justify-between p-4" style="background-color: {{ section.settings.accordion_color }}">
                                <div>Why Shop with Us</div>
                                <strong class="accordion-plus">+</strong>
                            </div>
                            <div class="accordion-content" style="background-color: {{ section.settings.accordion_content_color }}">
                                {% for item in whybuy %}
                                    <p>{{ item }}</p>
                                {% endfor %}
                            </div>
                        </div>
    
                        <div class="w-full mb-2 accordion">
                            <div class="accordion-title flex justify-between p-4" style="background-color: {{ section.settings.accordion_color }}">
                                <div>Product Specification</div>
                                <strong class="accordion-plus">+</strong>
                            </div>
                            <div class="accordion-content" style="background-color: {{ section.settings.accordion_content_color }}">
                                {% for item in specs %}
                                    <p>{{ item }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const accordions = document.querySelectorAll('.accordion');

        accordions.forEach(acc => {
            const title = acc.querySelector('.accordion-title');
            const content = acc.querySelector('.accordion-content');
            const plus = acc.querySelector('.accordion-plus');
            let isOpen = false;

            gsap.set(content, { height: 0, opacity: 0 });

            title.addEventListener('click', function () {
            // Close others if needed
            accordions.forEach(other => {
                if (other !== acc) {
                    const otherContent = other.querySelector('.accordion-content');
                    gsap.to(otherContent, { height: 0, opacity: 0, duration: 0.3, ease: "power2.out" });
                    other.classList.remove('active');
                    other.dataset.open = "false";
                    other.querySelector('.accordion-plus').textContent = "+";
                } else{
                    other.querySelector('.accordion-plus').textContent = "-";
                }
            });

            if (!isOpen) {
                const fullHeight = content.scrollHeight;
                gsap.to(content, {
                    height: fullHeight,
                    opacity: 1,
                    duration: 0.4,
                    ease: "power2.out"
                });
                acc.classList.add('active');
                //Just to make sure that accordion-plus works fine if click same title to close
                acc.querySelector('.accordion-plus').textContent = "-";
            } else {
                gsap.to(content, {
                    height: 0,
                    opacity: 0,
                    duration: 0.3,
                    ease: "power2.inOut"
                });
                acc.classList.remove('active');
                //Just to make sure that accordion-plus works fine if click same title to close
                acc.querySelector('.accordion-plus').textContent = "+";
            }

            isOpen = !isOpen;
            });
        });
    });

    function showImage (img){
        document.getElementById("image-box").src = img;
    }
</script>


{% schema %}
{
    "name": "Product Content",
    "settings":[
        {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "Product Content Section"
        },
        {
            "type": "color",
            "id": "product_name_color",
            "label": "Product Name Color",
            "default": "#084d9b"
        },
        {
            "type": "color",
            "id": "price_color",
            "label": "Price Color",
            "default": "#2272ce"
        },
        {
            "type": "color",
            "id": "compare_price_color",
            "label": "Compare Price Color",
            "default": "#e8161a"
        },
        {
            "type": "checkbox",
            "id": "is_bgimage",
            "label": "Is Background Image?",
            "default": false
        },
        {
            "type": "color",
            "id": "bgcolor",
            "label": "Background Color",
            "default": "#89E7F1"
        },
        {
            "type":"image_picker",
            "label": "Background Image",
            "id": "bgimage",
            "info": "Under deve"
        },
        {
            "type": "color",
            "id": "description_bgcolor",
            "label": "Description Card Color",
            "default": "#ffffff"
        },
        {
            "type":"header",
            "content":"Buttons"
        },
        {
            "type": "image_picker",
            "id": "button1_img",
            "label": "Button 1 Image"
        },
        {
            "type": "text",
            "id": "button1_text",
            "label": "Button 1 Text",
            "default":"Button 1"
        },
        {
            "type": "url",
            "id": "button1_link",
            "label": "Button 1 Link"
        },
        {
            "type":"color",
            "id": "button1_text_color",
            "label": "Button Text Color",
            "default": "#001001"
        },
        {
            "type":"color",
            "id": "button1_bgcolor",
            "label": "Button BG Color",
            "default": "#c9c9c9"
        },
        {
            "type":"color",
            "id": "button1_border_color",
            "label": "Button Border Color",
            "default": "#c9c9c9"
        },
        {
            "type": "image_picker",
            "id": "button2_img",
            "label": "Button 2 Image"
        },
        {
            "type": "text",
            "id": "button2_text",
            "label": "Button 2 Text",
        },
        {
            "type": "url",
            "id": "button2_link",
            "label": "Button 2 Link"
        },
        {
            "type":"color",
            "id": "button2_text_color",
            "label": "Button Text Color",
            "default": "#001001"
        },
        {
            "type":"color",
            "id": "button2_bgcolor",
            "label": "Button BG Color",
            "default": "#c9c9c9"
        },
        {
            "type":"color",
            "id": "button2_border_color",
            "label": "Button Border Color",
            "default": "#c9c9c9"
        },
        {
            "type":"checkbox",
            "id": "has_border",
            "label": "Button Border",
            "default": true
        },
        {
            "type": "range",
            "id": "background_opacity",
            "label": "Background Opacity",
            "default": 100,
            "min": 0,
            "max": 100,
            "step": 1
        },
        {
            "type":"header",
            "content":"Accordion Section"
        },
        {
            "type": "color",
            "id": "accordion_color",
            "label": "Accordion Color",
            "default": "#8bbbf2"
        },
        {
            "type": "color",
            "id": "accordion_content_color",
            "label": "Content Color",
            "default": "#ffffff"
        },
        {
            "type":"header",
            "content":"Margin Section"
        },
        {
            "type":"range",
            "id": "margin-top",
            "label": "Top Margin",
            "default": 0,
            "min": 0,
            "max": 100,
            "step": 1
        },
        {
            "type":"range",
            "id": "margin-bottom",
            "label": "Bottom Margin",
            "default": 0,
            "min": 0,
            "max": 100,
            "step": 1
        }
    ],
    "presets":[
        {
            "name": "Product Content",
            "category": "Products"
        }
    ]
}
{% endschema %}